[Unit]
Description=Automated Network Authentication

[Service]
User=root
ExecStart=/usr/bin/python3 /usr/local/autoNetworkAuth/UESTC.py config
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
